#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

&mt {
    tapping-term-ms = <1200>;
};

/ {
    keymap {
        compatible = "zmk,keymap";

        //default_layer BEGIN

        default_layer {
            // --------------------------------------         --------------------------------------
            // |ESC/TAB|  Q  |  W  |  E  |  R  |  T  |         |  Y  |  U  |  I  |  O  |  P  |  BS/DEL  |
            // --------------------------------------         --------------------------------------
            // |CAPS/3|  A  |  S  |  D  |  F  |  G  |         |  H  |  J  |  K  |  L  |  ;  |  ALT   |
            // --------------------------------------         --------------------------------------
            // | SHIFT |  Z  |  X  |  C  |  V  |  B  |         |  N  |  M  |  ,  |  .  |  /  | SHIFT/ENT |
            // -------------------------------------------------------------------------------------
            //                       | ALT | WIN/BS |   1/SPC  | WIN/ENT| WIN |
            //                          ----------------------------------- 

            bindings = <
 &mt ESC TAB  &kp Q       &kp W        &kp E                &kp R       &kp T                    &kp Y                &kp U        &kp I         &kp O     &kp P  &mt RIGHT_BRACKET LEFT_BRACKET
&kp CAPSLOCK  &kp A       &kp S   &mt LALT D           &mt LGUI F       &kp G                    &kp H           &mt RGUI J   &mt RALT K         &kp L  &kp SEMI                &kp SINGLE_QUOTE
  &kp LSHIFT  &kp Z  &mt LALT X        &kp C                &kp V  &mt LGUI B               &mt RGUI N                &kp M    &kp COMMA  &mt RALT DOT  &kp FSLH                 &lt 1 BACKSLASH
                                 &lt 3 LG(Z)  &mt LEFT_SHIFT BSPC              &lt 1 SPACE              &mt RIGHT_SHIFT RET  &lt 2 RG(A)
            >;
        };

        //LAYER ENDS
        //number_layer BEGIN

        number_layer {
            // --------------------------------------         --------------------------------------
            // | ESC  |     |     |     |     |     |         |  +  |  7  |  8  |  9  |  *  | BKSP |
            // --------------------------------------         --------------------------------------
            // |TAB/SH|     |     |     |     |     |         |  -  |  4  |  5  |  6  |  /  | DEL  |
            // --------------------------------------         --------------------------------------
            // | CTRL |     |     |     |     |     |         |  0  |  1  |  2  |  3  |  =  | SHIFT  |
            // -------------------------------------------------------------------------------------
            //                          | WIN | ALT |   SB    |  .  |SHFT |
            //                          ----------------------------------- 

            bindings = <
&trans  &trans  &trans   &none   &none  &none           &kp PLUS  &kp N7  &kp N8  &kp N9   &kp STAR      &kp GRAVE
&trans   &none   &none   &none   &none  &none          &kp MINUS  &kp N4  &kp N5  &kp N6  &kp SLASH  &kp BACKSLASH
&trans   &none   &none   &none   &none  &none             &kp N0  &kp N1  &kp N2  &kp N3  &kp EQUAL         &trans
                        &trans  &trans         &trans             &trans  &trans
            >;
        };

        //LAYER ENDS
        //nav_layer BEGIN

        nav_layer {
            // --------------------------------------         --------------------------------------
            // | ESC  |     |     |     |     |     |         | VU  | PU  |  ↑  | PD  | MUTE | BKSP |
            // --------------------------------------         --------------------------------------
            // |TAB/SH|     |     |     |     |     |         | HOME|  ←  |  ↓  |  →  | END  | DEL  |
            // --------------------------------------         --------------------------------------
            // | CTRL |     |     |     |     |     |         | VD  | PRE |  PP | NXT | CTRL | SHFT |
            // -------------------------------------------------------------------------------------
            //                          | WIN | ALT |   SB    | RET |SHFT |
            //                          ----------------------------------- 

            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans          &trans   &kp PG_UP    &kp UP   &kp PG_DN  &trans     &trans
&trans   &none   &none   &none   &none   &none          &trans    &kp LEFT  &kp DOWN   &kp RIGHT  &trans     &trans
&trans   &none   &none   &none   &none   &none          &trans  &kp C_PREV    &trans  &kp C_NEXT  &trans  &kp RSHFT
                        &trans  &trans          &trans              &trans    &trans
            >;
        };

        //LAYER ENDS

        adjust_layer {
            // --------------------------------------         --------------------------------------
            // | ESC  |     |     |     |     |     |         | BT1 | BT2 | BT3 | BT4 | BT5 |  CLT |
            // --------------------------------------         --------------------------------------
            // |TAB/SH|     |     |     |     |     |         |     |     |     |     |     |  DEL |
            // --------------------------------------         --------------------------------------
            // | CTRL |     |     |     |     |     |         |     |     |     |     |     | BOTL |
            // -------------------------------------------------------------------------------------
            //                          | WIN | ALT |   SB    | RET |SHFT |
            //                          ----------------------------------- 

            bindings = <
&none  &none  &none   &none   &none  &none          &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4   &bt BT_CLR
&none  &none  &none   &none   &none  &none                 &none         &none         &none         &none         &none        &none
&none  &none  &none   &none   &none  &none                 &none         &none         &none         &none         &none  &bootloader
                     &trans  &trans         &trans                      &trans        &trans
            >;
        };
    };
};

/*
 usefull templates


// --------------------------------------         --------------------------------------
// |      |     |     |     |     |     |         |     |     |     |     |     |      |
// --------------------------------------         --------------------------------------
// |      |     |     |     |     |     |         |     |     |     |     |     |      |
// --------------------------------------         --------------------------------------
// |      |     |     |     |     |     |         |     |     |     |     |     |      |
// -------------------------------------------------------------------------------------
//                 |        |        |               |        |        |
//                 -----------------------------------------------------


//template_layer BEGIN
                template_layer {
// --------------------------------------         --------------------------------------
// | ESC  |     |     |     |     |     |         |     |     |     |     |     |   BS |
// --------------------------------------         --------------------------------------
// |TAB/SH|     |     |     |     |     |         |     |     |     |     |     |  DEL |
// --------------------------------------         --------------------------------------
// | CTRL |     |     |     |     |     |         |     |     |     |     |     | MENU |
// -------------------------------------------------------------------------------------
//                          | WIN | ALT |   SB    | RET |SHFT |
//                          ----------------------------------- 

                        bindings = <
   &kp ESC           &none    &none    &none    &none       &none                      &none       &none    &none    &none       &none    &lt 4 BSPC
   &mt LSHIFT TAB    &none    &none    &none    &none       &none                      &none       &none    &none    &none       &none    &kp SQT
   &kp LCTRL         &none    &none    &none    &none       &none                      &none       &none    &none    &none       &none    &kp RSHFT
                                                &kp LGUI    &kp LALT    &kp SPACE      &kp RET     &kp K_CONTEXT_MENU
                        >;
                };
//LAYER ENDS



 */
